<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table h3">
    <thead>
    <tr>
        <th scope="col">Identificator</th>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Middle Name</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="worker : ${workers}">
        <th><a th:text="${worker.mongoId}" th:href="@{/worker/{id}(id=${worker.id})}" scope="row"></a></th>
        <td><a th:text="${worker.name}" th:href="@{/worker/{id}(id=${worker.id})}"></a></td>
        <td> <a th:text="${worker.surname}" th:href="@{/worker/{id}(id=${worker.id})}"></a></td>
        <td th:text="${worker.middleName}" ></td>
        <td><a th:href="@{/worker/edit/{id}(id=${worker.id})}">Edit</a></td>
        <td><a th:href="@{/worker/delete/{id}(id=${worker.id})}">Delete</a></td>
    </tr>
    </tbody>
    <a href="/worker/create" th:href="@{/worker/create}">Create new Worker</a>
</table>

</body>
</html>